@page "/"

<PageTitle>OBDSim.NET</PageTitle>

<div>
  <MatSlider TValue="decimal" ValueChanged="@OnValueChanged"></MatSlider>
</div>

@code
{

  public void OnValueChanged(decimal val)
  {
    Console.WriteLine($"OnValueChanged: {val}");
  }

}
